a:link {
  text-decoration: none;
  color: #00AA00;
}

a:visited {
  text-decoration: none;
  color: #00AA00;
}

a:active {
  text-decoration: none;
  color: #EEEE00;
}

a:hover {
  text-decoration: underline;
  color: #00AA00;
}

#footer a {
  color: #666666;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 11pt;
  background-color: #FFFFFF;
  color: #373747;
  margin: 0.6rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.25rem 0rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #222222;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.0rem;
}

h6 {
  font-size: 0.9rem;
}

hr {
  border: 0;
  border-top: 1px solid black;
}

input, textarea, select, button {
  border: 1px solid #AAAAAA;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 0.25rem;
  padding: 0.25rem;
  -webkit-transition: all 0.10s ease-in-out;
  transition: all 0.10s ease-in-out;
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
}

input:focus, textarea:focus, select:focus, button:focus {
  -webkit-box-shadow: 0 0 5px #99CCEE;
          box-shadow: 0 0 5px #99CCEE;
  border: 1px solid #99CCEE;
}

input:disabled, textarea:disabled, select:disabled, button:disabled {
  border: 1px solid #CCCCCC;
  background-color: #EEEEEE;
  color: #555555;
}

input[type="color"] {
  padding: 0 1px;
}

button, [type="button"], [type="reset"], [type="submit"] {
  background-color: #f0f0f0;
  border: 1px solid #999999;
  color: #000;
  padding: 0.25rem 0.3rem;
}

button:disabled, [type="button"]:disabled, [type="reset"]:disabled, [type="submit"]:disabled {
  background-color: #f5f5f5;
  border: 1px solid #BBBBBB;
  color: #777;
}

[type="radio"], [type="checkbox"] {
  width: 1.3em;
  height: 1.3em;
  vertical-align: middle;
}

/*
progress, meter {
	height: 1rem;
}
*/
fieldset {
  border: 2px solid #AAAAAA;
  border-radius: 0.5rem;
}

legend {
  margin: 0 0.3rem;
}

input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1.0rem;
  height: 1.0rem;
  background: #FFFFFF;
  /*border-radius: 0;*/
  position: relative;
  top: -0.1rem;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input[type="checkbox"]:checked {
  /*	background: $input-active-color;*/
}

input[type="checkbox"]:after {
  position: absolute;
  content: "";
  width: 1.0rem;
  height: 1.0rem;
  left: -1px;
  top: -1px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input[type="checkbox"]:checked {
  border-color: #0088FF;
}

input[type="checkbox"]:checked:after {
  border-radius: 0.25rem;
  background: #0088FF;
  background-image: url("https://www.interordi.com/files/css/checkmark.svg");
  background-position: 0 0;
  background-size: 100% 100%;
}

input[type="checkbox"]:disabled {
  cursor: default;
  background: #EEEEEE;
}

input[type="checkbox"]:checked:disabled {
  border-color: #88BBFF;
  /*background: $input-disabled-marker-active-color;*/
}

input[type="checkbox"]:checked:disabled:after {
  border-radius: 0.25rem;
  background: #88BBFF;
  background-image: url("https://www.interordi.com/files/css/checkmark.svg");
  background-position: 0 0;
  background-size: 100% 100%;
}

input[type="checkbox"].toggle {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 3.5rem;
  height: 1.5rem;
  background: #FFFFFF;
  border-radius: 3rem;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input[type="checkbox"].toggle:checked {
  background: #0088FF;
}

input[type="checkbox"].toggle:after {
  position: absolute;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #444;
  -webkit-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  left: 0;
  top: -1px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input[type="checkbox"].toggle:checked:after {
  left: calc(100% - 1.5rem);
  background: #FFF;
}

input[type="checkbox"].toggle:disabled {
  cursor: default;
  background-color: #EEEEEE;
}

input[type="checkbox"].toggle:disabled:after {
  background: #AAAAAA;
  -webkit-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3);
}

input[type="checkbox"].toggle:checked:disabled {
  background: #88BBFF;
}

input[type="checkbox"].toggle:checked:disabled:after {
  background: #DDD;
  border-radius: 3rem;
}

input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1.0rem;
  height: 1.0rem;
  background: #FFFFFF;
  border-radius: 50%;
  position: relative;
  top: -0.1rem;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input[type="radio"]:checked {
  /*	background: $input-active-color;*/
}

input[type="radio"]:after {
  position: absolute;
  content: "";
  width: 1.0rem;
  height: 1.0rem;
  border-radius: 50%;
  -webkit-transform: scale(0.67);
          transform: scale(0.67);
  left: -1px;
  top: -1px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input[type="radio"]:checked {
  border-color: #0088FF;
}

input[type="radio"]:checked:after {
  background: #0088FF;
}

input[type="radio"]:disabled {
  cursor: default;
  background: #EEEEEE;
}

input[type="radio"]:checked:disabled {
  border-color: #88BBFF;
  /*background: $input-disabled-marker-active-color;*/
}

input[type="radio"]:checked:disabled:after {
  background: #88BBFF;
}

.alert-primary {
  border: 1px solid #2266cc;
}

.alert-success {
  border: 1px solid #228822;
}

.alert-error {
  border: 1px solid #cc2222;
}

.alert-warning {
  border: 1px solid #cc8833;
}

.alert-info {
  border: 1px solid #969696;
}

button.alert-primary {
  background-color: #2266cc;
  color: white;
}

button.alert-success {
  background-color: #228822;
  color: white;
}

button.alert-error {
  background-color: #cc2222;
  color: white;
}

button.alert-warning {
  background-color: #cc8833;
  color: white;
}

button.alert-info {
  background-color: #969696;
  color: white;
}

div.alert-primary {
  color: #1b52a3;
  background-color: #d0e0f7;
}

div.alert-success {
  color: #1b6d1b;
  background-color: #c9f1c9;
}

div.alert-error {
  color: #a31b1b;
  background-color: #f7d0d0;
}

div.alert-warning {
  color: #a36d29;
  background-color: #f5e7d6;
}

div.alert-info {
  color: #787878;
  background-color: #eaeaea;
}

div.alert-primary, div.alert-success, div.alert-error, div.alert-warning, div.alert-info {
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.625rem;
}

input.alert-primary {
  background-color: #fafcfe;
}

input.alert-success {
  background-color: #fafefa;
}

input.alert-error {
  background-color: #fefafa;
}

input.alert-warning {
  background-color: #fefdfb;
}

input.alert-info {
  background-color: #fdfdfd;
}

a, button {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

a:hover, button:hover, [type="button"]:hover, [type="reset"]:hover, [type="submit"]:hover, [type="file"]:hover, [type="color"]:hover {
  /* filter: brightness(110%); */
}

table.data_list {
  border-collapse: collapse;
}

table.data_list th {
  background-color: #EEEEEE;
  line-height: 1.8rem;
  border-top: 1px solid #BBBBBB;
  padding: 0 0.6rem 0 0.25rem;
}

table.data_list td {
  padding: 0.25rem 0.5rem;
  border-bottom: 1px solid #BBBBBB;
}

table.data_list td.nobg {
  border: 0 !important;
}

form.form-horizontal .form-group, form.form-vertical .form-group {
  margin-bottom: 1rem;
}

form.form-horizontal .form-group .form-extra, form.form-vertical .form-group .form-extra {
  display: inline-block;
}

form.form-horizontal .form-group .form-extra-padding, form.form-vertical .form-group .form-extra-padding {
  display: inline-block;
  padding: 0.25rem;
}

form.form-horizontal .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form.form-horizontal .form-group label {
  text-align: right;
  width: 14rem;
  padding: 0.25rem;
}

@media all and (max-width: 768px) {
  form.form-horizontal .form-group {
    display: block;
  }
  form.form-horizontal .form-group label {
    text-align: left;
  }
  form.form-horizontal .form-group input {
    width: 100%;
  }
}

form.form-vertical .form-group label {
  width: 100%;
  display: block;
  padding: 0.25rem;
}

form.form-vertical .form-group input {
  width: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.full_center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.full_center_child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.php_error {
  font-size: 80%;
  display: block;
  font-family: Monospace;
  margin: 0.15rem;
  padding: 0.25rem;
  border: 1px dashed #AA0000;
  background-color: #FFEEEE;
  color: #000;
}
/*# sourceMappingURL=base.css.map */